.container {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
}

.box {
    padding: 1em;
}

label {
    margin: 1em
}

button {
    padding: 10px;
    margin: 1em;
    text-align: center;
    border-radius: 20%;
    gap: 3px;
    background-color: rgb(139, 157, 193);
}

.b-container {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    margin-top: 1em;
}